@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  transition: all .4s ease;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body{
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(27deg, rgba(2,0,36,1) 12%, rgba(119,24,30,1) 59%, rgba(169,39,39,1) 100%);
  overflow: hidden;
  transition: background-color 2s ease;
}

.scrollable {
  margin-left: 1rem;
  width: 300px; 
  height: 500px;
  overflow-x: auto;
  white-space: nowrap;
  border: none;
}
.content {
  display: inline-block;
}